body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  /* background: #CB713A; */
  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(left, #FFFFFF, #6DD5FA, #2980B9);
  background: -o-linear-gradient(left, #FFFFFF, #6DD5FA, #2980B9); */
  background: linear-gradient(to right, #DFF2FC, #6DD5FA, #2980B9);
  /* Chrome 10-25, Safari 5.1-6 */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

button {
  cursor: pointer;
}